.icon {
    display: inline-block;

    &--large {
        width: 48px;
        height: 48px;
    }

    &--xlarge {
        width: 80px;
        height: 80px;
    }

    &--auto {
        height: auto !important;
    }
}