.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #BDBDFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 200;
}

.shortName {
    font-weight: 800;
    font-size: 20px;
    color: #330072;
}