.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #BDBDFF;
    color: #330072;
    font-size: 20px;
}