@use 'sass:color';
@use '../../../styles/globals';
@use '../../../styles/variables' as vars;

$input-placeholder-color: #999999;
$input-error-color: #e74d3cad;
$input-success-color: #2ECC71;

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.input-label {
    font-family: globals.$font-primary;
    font-size: 16px;
    font-weight: 600;
    color: vars.$input-text-color-default;
}

.input-required {
    color: $input-error-color;
}

.custom-input {
    width: 100%;
    padding: 12px 16px;
    border: 2px solid vars.$input-border-color-default;
    background-color: transparent;
    border-radius: 30px;
    color: vars.$input-text-color-default;
    font-family: globals.$font-primary;
    font-size: 14px;
    font-weight: 400;
    transition: 
        border-color 0.3s ease, 
        box-shadow 0.3s ease, 
        transform 0.2s ease;

    &::placeholder {
        font-weight: 400;
    }

    &:focus {
        outline: 1px solid transparent;
        border-color: vars.$input-border-color-default;
        box-shadow: 
            0 0 5px vars.$input-border-color-default,
            0 0 10px color.change(vars.$input-border-color-default, $alpha: 0.3),
            0 0 15px color.change(vars.$input-border-color-default, $alpha: 0.1);
        transform: scale(1.02);
    }

    &--error {
        border-color: $input-error-color;
        
        &:focus{
            outline: 1px solid transparent;
            border-color: $input-error-color;
            box-shadow: 
                0 0 5px $input-error-color,
                0 0 10px color.change($input-error-color, $alpha: 0.3),
                0 0 15px color.change($input-error-color, $alpha: 0.1);
            transform: scale(1.02);
        }
    }

    &--success {
        border-color: $input-success-color;

        &:focus{
            outline: 1px solid transparent;
            border-color: $input-success-color;
            box-shadow: 
                0 0 5px $input-success-color,
                0 0 10px color.change($input-success-color, $alpha: 0.3),
                0 0 15px color.change($input-success-color, $alpha: 0.1);
            transform: scale(1.02);
        }
    }

    &--small {
        padding: 8px 12px;
        font-size: 12px;
    }

    &--large {
        font-size: 16px;
    }

    &--shared {
        border-color: #9610FF;
    }
}