.card {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #6A6A6D;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 2px;
        margin: 8px;
    }

    &--user {
        width: 35px;
        height: 60px;
        border-radius: 7px;
        border: 1px solid #BC91FF;
    }

    &--points {
        width: 53px;
        height: 86px;
        border-radius: 7px;
        border: 1px solid #BB65FF;
        box-shadow: 0 0 5em #281536;
        font-weight: 600;
    }
}