@use "sass:color";
@use '../../../styles/globals';

$primary-disable-btn-color: #9869ac;
$second-disable-tn-color: #594875;
$active-btn-color: #FFFFFF;
$planning-active-btn-color: #6429CD;

.custom-button{
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: globals.$font-primary;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 100px;
    max-width: 170px;
    margin: 0 auto;

    &:disabled,
    &--disabled{
        opacity: 0.4;
        cursor: not-allowed !important;
        transform: none !important;
    }

    &--primary {
        background-color: $active-btn-color;
        color: #330072;
        
        &:disabled {
            background-color: $primary-disable-btn-color;
            color: #FFFFFF;
        }
    }

    &--second {
        background-color: $active-btn-color;
        color: #330072;

        &:disabled {
            background-color: $second-disable-tn-color;
            color: #FFFFFF;
        }
    }

    &--planning {
        background-color: $planning-active-btn-color;
    }
}